


body {
	background-color: #c3cfe2;
	font-family: 'Open Sans', sans-serif;
}

.social {
	position: absolute;
    right: 0%;
   margin-right: 20px;
    transform: translate(75%, 50%);


	/*BLOG*/

&__blog{
	background-color: #e17b77;

}
&__blog:hover{
	margin-left: -310px;
			transition: transform 250ms ease-in-out;
text-align: left;			

}

&__blog::before{
	display: inline-block;
		width: 10px;
		font-size: 14px;
		text-align: center;
		
	  }
	  &__blog::after{
		content: "Check out my blog";
            font-weight: normal;
			color: white;
			text-align: center;
			font-size: 14pt;

	  }

/*TWITTER*/
&__twitter{
	background-color:#00aced;
}
&__twitter:hover{
	margin-left: -330px;
			transition: transform 250ms ease-in-out;
			text-align: left;			

}
&__twitter::before{
	display: inline-block;
		width: 10px;
		font-size: 14px;
		text-align: center;

}
&__twitter::after{
	content: "Follow me on Twitter";
	font-weight: normal;
	color: white;
	text-align: left;
	font-size: 14pt;
	
}
/*LINKEDIN*/
&__linkedin{
	background-color: #007bb6;

}
&__linkedin:hover{
		margin-left: -330px;
	   transition:transform 250ms ease-in-out;
	   text-align: left;			

	}

&__linkedin::before{
	display: inline-block;
		width: 10px;
		font-size: 14px;
		text-align: center;
}
&__linkedin::after{
	content: "Connect on Linkedin";
	font-weight: normal;
	color: white;
	text-align: left;
	font-size: 14pt;
}
/*GITHUB*/
&__github{
	background-color: #333;
}
&__github:hover{
	margin-left: -330px;
   transition: transform 250ms ease-in-out;
   text-align: left;			

}


&__github:before{
	display: inline-block;
		width: 10px;
		font-size: 14px;
		text-align: center;
}
&__github::after{
	content: "See my projects on Github";
	font-weight: normal;
	color: white;
	text-align: center;
	font-size: 14pt;
}
	/*FACEBOOK*/

	  &__facebook:hover {
		margin-left: -300px;
			transition: transform 250ms ease-in-out;	
			text-align: left;			

	  }
	  
	 &__facebook {
		background-color: #3b5998;}
		
		
		
		
	  &__facebook::before{
		display: inline-block;
		width: 10px;
		font-size: 14px;
		text-align: center;
	  }
	  &__facebook::after{
		content: "Like my Facebook page";
		font-weight: normal;
		color: white;
		text-align: left;
		font-size: 14pt;
	  }
}

	  .fa-facebook::before
	  { 
		display: inline-block;
		width: 20px;
		font-size: 20px;
		text-align: center;
		padding-right: 80px;
		padding-left: 35px;

		
}
	  
     .fa-twitter::before{
	   
		display: inline-block;
		width: 20px;
		font-size: 20px;
		text-align: center;
		padding-right: 80px;
		padding-left: 5px;
}


.fa-laptop::before{
	display: inline-block;
		width: 20px;
		font-size: 20px;
		text-align: center;
		padding-right: 80px;
		padding-left: 5px;
}
.fa-linkedin{
	display: inline-block;
		width: 20px;
		font-size: 20px;
		text-align:start;
		padding-right: 80px;
		padding-left: 5px;

}
.fa-github{
display: inline-block;
	width: 20px;
	font-size: 20px;
	text-align: center;
	padding-right: 80px;
	padding-left: 45px;


}
.social a {
		display: block;
		text-align: center;
		padding: 16px;
		transition: all 0.3s ease;
		color: white;
		font-size: 20px;}